
/*
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    background-color: hsl(233, 47%, 7%);
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    height: 100VH;
    position: relative;
}

main {
    background-color: hsl(244, 38%, 16%);
    display: flex;
    justify-content: space-between;
    margin: auto auto;
    border-radius: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 1.7rem;
}

.insights {
    color: hsl(277, 64%, 61%);
}

.main-content {
    padding: 4.8em;
    max-width: 530px;
    max-height: 446px;
}

.stats {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content:flex-start;
}

.stats div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stats div span:nth-child(1) {
    color: hsl(0, 0%, 100%);
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

.stats div span:nth-child(2) {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    margin-right: 4.2rem;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 4.7rem;
}



.img-div {
    width: 540px;
    height: 446px;
    background-image: url("../images/image-header-desktop.jpg");
    border-radius: 0 1% 1% 0;
    margin-left: 2.6rem
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: hsla(277, 100%, 30%, 0.55);
    border-radius: 0 1% 1% 0;
}

.attribution { 
    font-size: 11px; text-align: center; 
    position: absolute;
    bottom: 0;
    width: 100%;
    color: hsla(0, 0%, 100%, 0.75);
}
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 1110px) {
    main {
        flex-direction: column-reverse;
    }

    .img-div {
        margin-left: 0;
        border-radius: 1% 1% 0 0;
    }

    .overlay {
        border-radius: 1% 1% 0 0;
    }

}

@media (max-width: 654px) {
    .img-div {
        background-image: url("../images/image-header-mobile.jpg");
    }
}
*/